*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  position: relative;
  line-height: 1.4;
  font-weight: 400;
  overflow-x: hidden;
  margin: 0;
  color: #16425B;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  outline: none;
  display: inline-block;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul li,
ol li {
  list-style: none;
  display: block;
  margin: 0;
}

span {
  display: inline-block;
}

ul, ol {
  display: block;
  margin: 0;
  padding-left: 0;
}

button {
  outline: none;
  border: 0;
  padding: 0;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

.site-wrap {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
  max-width: 758px;
  width: 100%;
}

.bg-shadow {
  display: none;
  background: #00000001;
  position: absolute;
  z-index: 97;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
}

#header_fixed {
  position: fixed;
  width: 100%;
  z-index: 88;
}

#nav_fixed {
  position: fixed;
  width: 100%;
}

#main1 {
  margin-top: 106px;
}

.bg-white {
  background: #000;
}

.header {
  background: #fffffff1;
}

.header-wrapper {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-wrapper__headline {
  padding-left: 35px;
  font-weight: 500;
  font-size: 24px;
  color: #000;
  position: relative;
}

.header-wrapper__headline::before {
  content: url("../img/header/icon_logo.svg");
  position: absolute;
  left: 0;
  top: 3px;
}

.header-wrapper__f1 {
  border-bottom: 1px dotted #000;
}

.header-wrapper__right {
  max-width: 400px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-wrapper__wrp-input {
  max-width: 200px;
  width: 100%;
  position: relative;
}

.header-wrapper__wrp-input::before {
  content: url("../img/header/icon/icon_search.svg");
  position: absolute;
  left: 5px;
  top: 5px;
}

.header-wrapper__form-control {
  outline: none;
  border: none;
  width: 100%;
  height: 30px;
  border: 1px solid #E8ECEF;
  border-radius: 2px;
  padding: 0 5px 0 30px;
}

.header-wrapper__form-control::-webkit-input-placeholder {
  color: #16425B;
}

.header-wrapper__form-control::-moz-placeholder {
  color: #16425B;
}

.header-wrapper__form-control:-moz-placeholder {
  color: #16425B;
}

.header-wrapper__form-control:-ms-input-placeholder {
  color: #16425B;
}

.header-wrapper__wrp-language {
  width: 70px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 2px;
  background-color: #E8ECEF;
  cursor: pointer;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}

.header-wrapper__wrp-language::before {
  content: url("../img/header/icon/icon_language.svg");
  position: absolute;
  left: 14px;
  top: 5px;
}

.header-wrapper__wrp-language:hover {
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  background-color: #97afb980;
}

.header-wrapper__dropdown-language {
  display: none;
  position: absolute;
  z-index: 19;
  top: 100%;
  right: 0;
  font-weight: 400;
  border: 1px solid #E8ECEF;
  width: 100%;
  background-color: #fff;
}

.header-wrapper__language {
  display: block;
  text-align: right;
  padding-right: 12px;
}

.header-wrapper__link-switch {
  color: #000;
  font-weight: 300;
  -webkit-transition: .3s;
  transition: .3s;
}

.header-wrapper li {
  -webkit-transition: background-color .1s;
  transition: background-color .1s;
}

.header-wrapper li:hover {
  -webkit-transition: background-color .1s;
  transition: background-color .1s;
  background-color: #c0cace52;
}

.header-wrapper__border {
  border-bottom: 1px solid #E8ECEF;
}

.header-wrapper__social {
  max-width: 110px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-wrapper__link {
  background-color: #E8ECEF;
  padding: 5px;
  border-radius: 2px;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.header-wrapper__link:hover {
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  background-color: #97afb980;
}

.header-wrapper__wrp-menu {
  display: none;
}

.header-wrapper__menu {
  background: #E8ECEF;
  padding: 5px;
  border-radius: 2px;
}

.nav-wrapper {
  padding: 5px 20px;
  background: #62BEC1;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #62BEC1;
}

.nav-wrapper__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-wrapper__link {
  margin-right: 20px;
  color: #ffffff;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.nav-wrapper__link:hover {
  -webkit-transition: color .3s;
  transition: color .3s;
  color: #16425B;
}

.nav-wrapper__icon-marketing {
  position: relative;
}

.nav-wrapper__icon-marketing::after {
  content: url("../img/header/icon/icon_marketing.svg");
  position: absolute;
  left: 100%;
  top: -5px;
}

.nav-wrapper__icon-smile {
  position: relative;
}

.nav-wrapper__icon-smile::after {
  content: url("../img/header/icon/icon_smile.svg");
  position: absolute;
  left: 100%;
  top: -5px;
}

.nav-wrapper__icon-more {
  cursor: pointer;
}

.nav-wrapper2 {
  display: none;
}

.nav-wrapper2__dropdown {
  background: #fff;
  margin: 5px 3px 0 3px;
  border: 1px solid #E8ECEF;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav-wrapper2__link-d {
  margin: 5px 10px;
  color: #16425B;
  position: relative;
  -webkit-transition: all .7s;
  transition: all .7s;
}

.nav-wrapper2__link-d:before {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #62BEC1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav-wrapper2__link-d:hover {
  color: #1296a0;
}

.nav-wrapper2__link-d:hover:before {
  -webkit-transition: all .8s;
  transition: all .8s;
  width: 100%;
  left: 0;
  background: #62BEC1;
}

.burger-hide {
  display: none;
  border-top: 2px solid #F3F6F7;
}

.burger-hide-wrapper {
  padding: 20px;
}

.burger-hide-wrapper__form-search {
  margin-bottom: 20px;
}

.burger-hide-wrapper__wrp-input {
  position: relative;
}

.burger-hide-wrapper__wrp-input::before {
  content: url("../img/header/icon/icon_search.svg");
  position: absolute;
  left: 5px;
  top: 5px;
}

.burger-hide-wrapper__form-control {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border: none;
  width: 100%;
  height: 30px;
  border: 1px solid #E8ECEF;
  border-radius: 2px;
  padding: 0 5px 0 30px;
}

.burger-hide-wrapper__form-control::-webkit-input-placeholder {
  color: #16425B;
}

.burger-hide-wrapper__form-control::-moz-placeholder {
  color: #16425B;
}

.burger-hide-wrapper__form-control:-moz-placeholder {
  color: #16425B;
}

.burger-hide-wrapper__form-control:-ms-input-placeholder {
  color: #16425B;
}

.burger-hide-wrapper__form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.burger-hide-wrapper__wrp-language {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger-hide-wrapper .chosen {
  background-color: #62BEC1;
  margin-right: -2px;
  color: #fff;
}

.burger-hide-wrapper__change {
  font-weight: 300;
  color: #000;
  border-radius: 2px;
  width: 36px;
  height: 30px;
}

.burger-hide-wrapper__wrp-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.burger-hide-wrapper__social {
  max-width: 110px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.burger-hide-wrapper__link {
  background-color: #E8ECEF;
  padding: 5px;
  border-radius: 2px;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.burger-hide-wrapper__link:hover {
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  background-color: #97afb980;
}

.burger-hide-block {
  display: block;
}

#burger-hide-wrapper__wrp-input {
  margin-top: 110px;
}

.mames-wrapper__headline {
  padding: 20px 0 20px 20px;
  font-size: 25px;
  border-bottom: 2px solid #F3F6F7;
}

.mames-wrapper__item {
  padding: 20px;
  border-bottom: 2px solid #F3F6F7;
}

.mames-wrapper__title {
  font-family: "PT Sans", sans-serif !important;
  margin-bottom: 20px;
  font-size: 18px;
}

.mames-wrapper__image {
  margin-bottom: 20px;
}

.mames-wrapper__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mames-wrapper__social {
  max-width: 150px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.error-wrapper {
  text-align: center;
}

.error-wrapper__error {
  display: block;
  font-size: 25px;
  margin-bottom: 20px;
}

.error-wrapper__main {
  margin-bottom: 134px;
  color: #62BEC1;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.error-wrapper__main:hover {
  -webkit-transition: color .3s;
  transition: color .3s;
  color: #1f928c;
}

.cryptodanger-wrapper__bank {
  padding: 20px;
}

.cryptodanger-wrapper__time {
  display: inline-block;
  margin-bottom: 20px;
}

.cryptodanger-wrapper__headline {
  font-size: 26px;
  letter-spacing: -.4px;
}

.cryptodanger-wrapper__wrp-share {
  margin-top: 25px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cryptodanger-wrapper__wrp-share img {
  margin-right: 5px;
}

.cryptodanger-wrapper__share {
  margin-right: 5px;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 2px;
  color: #fff;
}

.cryptodanger-wrapper .facebook {
  background-color: #3B5998;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.cryptodanger-wrapper .facebook:hover {
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  background-color: #2cb8b1;
}

.cryptodanger-wrapper .vk {
  background-color: #5186BD;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.cryptodanger-wrapper .vk:hover {
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  background-color: #2cb8b1;
}

.cryptodanger-wrapper .twitter {
  background-color: #1DA1F2;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.cryptodanger-wrapper .twitter:hover {
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  background-color: #2cb8b1;
}

.cryptodanger-wrapper .telegram {
  margin-bottom: 0;
  min-width: 118px;
  background-color: #0088CC;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.cryptodanger-wrapper .telegram:hover {
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  background-color: #2cb8b1;
}

.cryptodanger-wrapper__description {
  margin-bottom: 23px;
  line-height: 29px;
  font-size: 15px;
}

.cryptodanger-wrapper__description:last-child {
  margin-bottom: 0;
}

.cryptodanger-wrapper__spn {
  word-wrap: break-word;
  font-weight: 500;
}

.cryptodanger-wrapper__wrp-telegram {
  border-radius: 2px;
  padding: 15px 20px;
  background: #E8ECEF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.news {
  font-family: 'PT Sans', sans-serif;
}

.news-wrapper__wrp-bitcoin {
  padding: 20px;
  border-bottom: 2px solid #F3F6F7;
}

.news-wrapper__wrp-headline {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-wrapper__headline {
  margin-left: 20px;
  font-size: 25px;
}

.news-wrapper__wrp-img {
  min-width: 160px;
  padding: 9px 10px;
  background: #222C36;
  border-radius: 2px;
}

.news-wrapper__headline-i {
  font-size: 25px;
}

.news-wrapper__crupto {
  padding-left: 5px;
  text-transform: uppercase;
  color: #000;
  font-weight: 500;
  position: relative;
}

.news-wrapper__crupto::before {
  content: url("../img/header/icon/icon_bitcoin.svg");
  position: absolute;
  top: -1px;
  right: 100%;
}

.news-wrapper__rate {
  color: #62BEC1;
}

.news-wrapper__wrp-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news-wrapper__site {
  overflow: hidden;
  white-space: nowrap;
  max-width: 200px;
}

.news-wrapper__site a {
  color: #62BEC1;
  position: relative;
  -webkit-transition: all .7s;
  transition: all .7s;
}

.news-wrapper__site a:before {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #62BEC1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.news-wrapper__site a:hover {
  color: #1296a0;
}

.news-wrapper__site a:hover:before {
  -webkit-transition: all .8s;
  transition: all .8s;
  width: 100%;
  left: 0;
  background: #62BEC1;
}

.news-wrapper__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news-wrapper .chosen {
  color: #fff;
  background-color: #62BEC1;
  border-radius: 2px 0px 0px 2px;
}

.news-wrapper__change {
  color: #16425B;
  border-radius: 0 2px 2px 0;
  padding: 6px 10px;
}

.news-wrapper__social {
  max-width: 85px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-wrapper__item {
  padding: 12.8px;
  border-radius: 2px;
  border-bottom: 1px solid #f0f0f0;
  position: relative;
}

.news-wrapper__item:nth-last-child(2) {
  border-bottom: none;
}

.news-wrapper__item:hover {
  background-color: #f3efe971;
}

.news-wrapper__item:hover .vk {
  fill: #4F7DB3;
}

.news-wrapper__item:hover .twitter {
  fill: #55ACEE;
}

.news-wrapper__item:hover .share {
  fill: #878fb3;
}

.news-wrapper__icon-arrow {
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
  padding: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.news-wrapper__btn-hide {
  border-bottom: 1px dotted #000;
  color: #313131;
  display: none;
}

.news-wrapper__btn-hide:hover {
  color: #22499e;
}

.news-wrapper__hide {
  display: none;
}

.news-wrapper__description {
  padding: 6.5px 6.5px 25.5px 3.2px;
  font-size: 12.8px;
  color: #000;
}

.news-wrapper__clause {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
}

.news-wrapper__icon {
  margin-top: 4px;
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.news-wrapper__clause-link {
  text-align: left;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.news-wrapper__clause-link:hover {
  ransition: color .3s;
  color: #d67321;
}

.news-wrapper__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.news-wrapper__link {
  margin-right: 4px;
  color: #62BEC1;
  position: relative;
  -webkit-transition: all .7s;
  transition: all .7s;
}

.news-wrapper__link:before {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #62BEC1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.news-wrapper__link:hover {
  color: #1296a0;
}

.news-wrapper__link:hover:before {
  -webkit-transition: all .8s;
  transition: all .8s;
  width: 100%;
  left: 0;
  background: #62BEC1;
}

.news-wrapper__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news-wrapper__record {
  margin-right: 8px;
  margin-left: 3px;
  font-weight: 600;
  font-size: 12.8px;
}

.news-wrapper__time {
  margin-right: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #666;
  font-size: 12.8px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.news-wrapper__link-blog {
  color: #5a96b1;
  font-size: 12.8px;
}

.news-wrapper__link-blog:hover {
  color: #0aa3eb;
}

.news-wrapper__more {
  width: 100%;
  padding: 7px 0;
  border-radius: 2px;
  font-weight: 300;
  color: #fff;
  background: #62BEC1;
  -webkit-transition: background .3s;
  transition: background .3s;
}

.news-wrapper__more:hover {
  -webkit-transition: background .3s;
  transition: background .3s;
  background: #4ccac4;
}

.news-wrapper__wrp-social {
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news-wrapper__wrp-social li {
  margin-right: 10px;
}

.news-wrapper__social {
  color: #b8b8b8;
  font-size: 17px;
}

.footer {
  /* margin: 20px 0; */
  margin-bottom: 60px;
  margin-top: 20px;
}

.footer-wrapper {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-wrapper__email {
  color: #16425B;
}

#footer {
  padding-top: 20px;
  border-top: 2px solid #F3F6F7;
}

.footer-none {
  display: none;
}

.main-none {
  display: none;
}

.item-bg_color {
  background: #F3EFE9;
}

.add-show {
  display: block;
}

.add-none-record {
  display: none;
}

/* Начало! Стили бля баннера */

.banner {
  display: flex;
  align-items:center;
  justify-content: center;
  background-color: #87BDBF;
  padding: 6px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 99;
}

.banner__logo {
  min-width: 150px;
  max-width: 150px;
}

.banner__text {
  font-size: 14px;
  color: #fff;
  padding: 0 15px;
}

.banner__btn {
  font-size: 13px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 2px;
  padding: 5px 15px;
  background-color: #FF8001;
  transition: background-color .3s;
}

.banner__btn:hover {
  transition: background-color .3s;
  background-color: #e98521;
}

.banner__closed {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 9px;
}

.banner__closed:after {
  content: url("../img/baner1/cross.png");
}


@media screen and (max-width: 768px) {
  .banner__logo {
    display: none;
  }
  .banner__btn {
    margin-right: 45px;
  }
}

@media screen and (max-width: 420px) {
  .footer {
    margin-bottom: 85px;
  }
  .banner__text {
    font-size: 12px;
  }
}


/* Стили бля баннера конец! */

@media only screen and (max-width: 768px) {
  .animated {
    /*CSS transitions*/
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    animation: none !important;
  }
}

@media screen and (max-width: 610px) {
  .header-wrapper__right {
    max-width: 373px;
  }
  .header-wrapper__wrp-input {
    max-width: 172px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    padding: 0;
    max-width: none;
  }
  .header-wrapper {
    padding: 0 15px;
  }
  .nav-wrapper {
    border-radius: 0;
  }
  .header-wrapper__right {
    display: none;
  }
  .header-wrapper__wrp-menu {
    display: block;
  }
  .nav-wrapper__ds-none {
    display: none;
  }
  .breck {
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news-wrapper__headline-i {
    max-width: -webkit-min-content;
    max-width: -moz-min-content;
    max-width: min-content;
  }
  .news-wrapper__crupto {
    margin-left: 22px;
    margin-top: 20px;
  }
  .news-wrapper__social {
    max-width: 74px;
  }
  .news-wrapper__change {
    font-size: 13px;
  }
}

@media screen and (max-width: 458px) {
  .cryptodanger-wrapper__spn2 {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */